@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000000;
  width: 100%;
  overflow: hidden;
}

/* Estilos de los anillos */
.aneis {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aneis i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}

.aneis i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.aneis i:nth-child(2) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.aneis i:nth-child(3) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}

.aneis:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Formulario dentro de los anillos */
.aneis form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  z-index: 1;
}

/* Estilos del título */
h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;

}

/* Estilos para las cajas de texto */
.cajas-texto {
  position: relative;
  width: 90%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  outline: none;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.cajas-texto::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.cajas-texto:focus {
  border-color: #ff357a;
  box-shadow: 0 0 10px #ff357a;
}

/* Estilos para el selector */
.opcion {
  position: relative;
  width: 90%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  outline: none;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.opcion:focus {
  border-color: #ff357a;
  box-shadow: 0 0 10px #ff357a;
}

/* Botones */
.botones {
  padding: 17px 40px;
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: linear-gradient(45deg, #ff357a, #fff172);
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
}

.botones:hover {
  letter-spacing: 3px;
  background-color: #fff172;
  color: hsl(0, 4%, 5%);
  box-shadow: #fff172 1px 3px 19px -2px;
}

.botones:active {
  transform: translateY(10px);
  transition: 100ms;
}

/* Ajuste para el fondo 
body {
  background-color: #111;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}
*/

  