@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}
.aneis {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aneis i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}
.aneis i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
.aneis i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}
.aneis i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}
.aneis:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.cajas-texto,
.opcion {
  width: 80%;
  padding: 1px;
  margin-bottom: 1px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.1em;
  color: #fff;
  outline: none;
}

.cajas-texto::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.opcion {
  background: transparent;
  border-radius: 40px;
  color: #fff;
}

.botones {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  border-radius: 40px;
  color: #111;
  font-size: 1.1em;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.botones:hover {
  background-color: #fff172;
  color: #111;
  box-shadow: #fff172 1px 3px 19px -2px;
}

.botones:active {
  transform: translateY(5px);
  transition: 100ms;
}